body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    background-color: rgb(117, 69, 6);  
}

#principal {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#quem-somos {
    position: absolute;
    left: 200px;   /* coordenada X */
    top: 500px;    /* coordenada Y */
    font-size: 100px;
    margin: 0;
    line-height: 1;
    text-align: left;
}

#paragrafo01 {
    position: absolute;
    left: 200px; 
    top: 650px; /* começa logo abaixo do título */
    width: 800px;
    margin: 0;
    font-size: 22px;
    line-height: 1.5;
    text-align: left;
}