:root {
    background-color: #ec9039;
    padding: 80px;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;  
}

header {
    width: 100%;
    margin: 0;
    padding: 15px 20px;
    box-sizing: border-box;

}

#principal {
    display: block;
    max-width: 15%;
    height: auto;
    margin: 0 auto;
}

#nossa-historia {
    position: absolute;
    font-size: 100px;
    margin: 0;
    line-height: 5;
    text-align: start;
}

.conteudo-paragrafo01 {
    position: absolute;
    left: 200px;
    top: 650px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    max-width: 1200px;
}


#paragrafo01 {
    width: 800px;
    margin: 0;
    font-size: 22px;
    line-height: 1.5;
    text-align: left;
}
